.tabbrowser-tab {
    background: #080808 !important;
    border-left: 2px solid transparent !important;
    transition: all .2s ease !important;
}

.tabbrowser-tab:hover {
    border-left: 2px solid var(--neon-yellow) !important;
    box-shadow: 0 0 7px rgba(255, 230, 0, .7) !important;
}

.tabbrowser-tab[selected="true"] {
    border-left: 3px solid var(--neon-yellow) !important;
    background: #111111 !important;
    box-shadow:
        0 0 8px rgba(255, 230, 0, .75),
        inset 0 0 7px rgba(255, 230, 0, .16) !important;
}

.tab-group-label-hover-highlight {
    background: transparent !important;
    border-radius: 8px !important;
    padding: 2px 5px !important;
}

.tab-group-label {
    color: var(--neon-yellow) !important;
    background: rgba(255, 230, 0, .10) !important;
    border: 1px solid rgba(255, 230, 0, .70) !important;
    border-radius: 8px !important;
    font-family: "Orbitron", "Segoe UI", sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: .45px !important;
    text-shadow: 0 0 4px rgba(255, 230, 0, .55) !important;
    box-shadow:
        0 0 7px rgba(255, 230, 0, .60),
        inset 0 0 6px rgba(255, 230, 0, .14) !important;
    padding: 2px 8px !important;
}

.tab-group-label:hover,
.tab-group-label-hover-highlight:hover .tab-group-label {
    background: rgba(255, 230, 0, .18) !important;
    border-color: var(--neon-yellow) !important;
    box-shadow:
        0 0 10px rgba(255, 230, 0, .85),
        inset 0 0 7px rgba(255, 230, 0, .20) !important;
}

.tab-group-label[aria-expanded="true"] {
    background: rgba(255, 230, 0, .20) !important;
    border-color: var(--neon-yellow) !important;
}

.tab-group-label[aria-expanded="false"] {
    opacity: .78 !important;
    background: rgba(255, 230, 0, .07) !important;
}